<ion-view view-title="Bike Detail">
  <ion-content class="padding">
    <h1>This is a test {{testing}} </h1>
    
    <p> {{bikeitem.number}} </p>
    <p> {{bikeitem.address}} </p>
    <p> {{bikeitem.bike_stands}} </p>
  </ion-content>
</ion-view>