<ion-view view-title="{{movie.title}}">
  <ion-content class="padding">
    <img ng-src="http://image.tmdb.org/t/p/w92/{{movie.poster_path}}" style="width: 64px; height: 64px">
    <p>
      {{movie.overview}}
    </p>
  </ion-content>
</ion-view>