<ion-view view-title="Dublin Bikes">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right" 
      ng-repeat="bike in bikes" type="item-text-wrap" href="#/tab/bikes/{{bike.number}}">
       
        <h2>{{bike.name}} ({{bike.number}})</h2>
        <p>Available Bikes: {{bike.available_bikes}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>