<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Movies Tab -->
  <ion-tab title="Movies" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/movies">
    <ion-nav-view name="tab-movies"></ion-nav-view>
  </ion-tab>

    <!-- bikes Tab -->
  <ion-tab title="bikes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/bikes">
    <ion-nav-view name="tab-bikes"></ion-nav-view>
  </ion-tab>

    <!-- bikes Tab -->
  <ion-tab title="Map" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/bikemap">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


</ion-tabs>
